### Dicitonary:
        - It is a collection of key value pairs.
        - In dictionary key names are unique.
        - By using curly brackets we can write the dictionary in python.
        - To access the dicitonary value by using only keynames.
        - It is mutable.

In [1]:
# To create the empty dicitonary.
d1 = dict()
print(d1)
print(type(d1))

{}
<class 'dict'>

In [2]:
# To create the dictionary with items(keyname,value).
d2 = {'Name':'krishna','Rollno':510,'branch':'CSE'}
print(d2)
print(type(d2))

{'Name': 'krishna', 'Rollno': 510, 'branch': 'CSE'}
<class 'dict'>

In [4]:
# digit keynames..
d3 = {1:110,2:345,3:678,2:400}
print(d3)

{1: 110, 2: 400, 3: 678}

In [5]:
# To create a dicitonary with different data types...
d4 = {'a':100,'b':'python','c':10.45}
print(d4)

{'a': 100, 'b': 'python', 'c': 10.45}

In [9]:
# Accessing the data through keynames....
print(d2)
print(d2['Name'])

{'Name': 'krishna', 'Rollno': 510, 'branch': 'CSE'}
krishna

In [11]:
# update the diciotnary data using keyname.
print(d2)
d2['Rollno']=222
print(d2)

{'Name': 'krishna', 'Rollno': 510, 'branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}

In [12]:
# dictionary methods:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [15]:
print(d3)

{1: 110, 2: 400, 3: 678}

In [17]:
d1[1]=222
print(d1)

{1: 222}

In [21]:
d3[1]=1
print(d3)

{1: 1, 2: 400, 3: 678}

In [25]:
d3[1]=000000
print(d3)

{1: 0, 2: 400, 3: 678}

In [26]:
d3

{1: 0, 2: 400, 3: 678}

In [27]:
d3[4]=200
d3

{1: 0, 2: 400, 3: 678, 4: 200}

#### Diciotnary Methods:

In [28]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [31]:
# keys():
# TO get the keynames from a diciotnary.
print(d2)
print(d2.keys())

{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}
dict_keys(['Name', 'Rollno', 'branch'])

In [32]:
# values():
# To get the diciotnary values...
print(d2.values())

dict_values(['krishna', 222, 'CSE'])

In [34]:
# items()
# To get the data key value pair in the format tuple.
print(d2)
print(d2.items())

{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}
dict_items([('Name', 'krishna'), ('Rollno', 222), ('branch', 'CSE')])

In [36]:
# copy():
# To copy the data from one dicitonary to another dicitonary.
print(d2)
d5 = d2.copy()
print(d5)

{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}

In [38]:
# get():
# To get the value of specific keyname.
print(d2)
print(d2.get('Name'))

{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}
krishna

In [40]:
# setdefault():
# To add new item to end of the dicitonary.
print(d2)
d2.setdefault('marks',67)
print(d2)

{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE'}
{'Name': 'krishna', 'Rollno': 222, 'branch': 'CSE', 'marks': 67}

In [43]:
# update():
# To update the any data..
print(d2)
d2.update({'branch':'EEE'})
print(d2)
d2.update({'course':'Python'})
print(d2)

{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE', 'marks': 67}
{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE', 'marks': 67}
{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE', 'marks': 67, 'course': 'Python'}

In [47]:
#pop():
#To delete an item from dicitonary using keyname.
print(d2)
print(d2.pop('course'))
print(d2)

{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE', 'course': 'Python'}
Python
{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE'}

In [49]:
#popitem():
# TO delete the last item from a dicitonary.
print(d2)
d2.popitem()
print(d2)

{'Name': 'krishna', 'Rollno': 222, 'branch': 'EEE'}
{'Name': 'krishna', 'Rollno': 222}

In [51]:
#fromkeys():
# To create new dicitonary with keynames..
dict1 = dict.fromkeys(['Sname','Srollno','Sbranch'])
print(dict1)
dict1['Sname']='Nethra'
print(dict1)

{'Sname': None, 'Srollno': None, 'Sbranch': None}
{'Sname': 'Nethra', 'Srollno': None, 'Sbranch': None}

In [52]:
# clear():
# To clear the data from a dicitonary.
print(d2)
d2.clear()
print(d2)

{'Name': 'krishna', 'Rollno': 222}
{}

In [53]:
d2={1:24,2:55,3:19,4:80,5:44,6:17}
# To print the even value item..
# output: {1:24,4:80,5:44}
d3 = {}
for key,value in d2.items():
    if value%2 == 0:
        d3[key]=value
print(d3)

{1: 24, 4: 80, 5: 44}

In [ ]:
# To read one string and then print the character frequency?
# To read the list of string element and then print the length of each string?
# input: L=['python','programming','java','sql']
# output: d1 = {'python':6,}

### nested dictionaries:
        - Dictionary can contain dicitonaries.

In [54]:
# nested ditionaries with example..
clg = {
    'btech':{
        'name':'aadyan',
        'rollno':510,
        'branch':'cse'
        },
    'MBA':{
        'name':'ganesh',
        'rollno':110,
        'branch':'business application'
    }
    
}
print(clg)

{'btech': {'name': 'aadyan', 'rollno': 510, 'branch': 'cse'}, 'MBA': {'name': 'ganesh', 'rollno': 110, 'branch': 'business application'}}

In [55]:
# To Access the data from netsed diciotnaries.
print(clg['btech']['name'])

aadyan

In [58]:
#4.What is output produced by the following program ?
i=1
while i<=10:
    print(i,end=" ")
    i=i+1

1 2 3 4 5 6 7 8 9 10