In [2]:
# nested dictionaries:
btech = {
    '1st Year':{
            'Name':'Aaryan',
            'Rno' :510,
            'Branch':'CSE'
    },
    '2nd Year':{
        'Name':'Krishna',
        'Rno':420,
        'Branch':'ECE'
    }
}
print(btech)

{'1st Year': {'Name': 'Aaryan', 'Rno': 510, 'Branch': 'CSE'}, '2nd Year': {'Name': 'Krishna', 'Rno': 420, 'Branch': 'ECE'}}

In [3]:
# To access the nested ditionaries data...
print(btech['1st Year']['Name'])

Aaryan

In [4]:
# To store the mutliple students records...
student = {'Name':['madhu','lalitha','nethra'],
           'Rollno':[510,420,325],
          'branch':['CSE','ECE','MECH']}
print(student)

{'Name': ['madhu', 'lalitha', 'nethra'], 'Rollno': [510, 420, 325], 'branch': ['CSE', 'ECE', 'MECH']}

In [6]:
print(student['Name'][1]) # To get the data from a dicitonary.
student['Rollno'][0] = 523 # To update the data.
print(student)

lalitha
{'Name': ['madhu', 'lalitha', 'nethra'], 'Rollno': [523, 420, 325], 'branch': ['CSE', 'ECE', 'MECH']}

#### Functions:
        - Function is a group of statements.
        - It can be perform the specific task.
        - In python by using 'def' keyword we can write the functions.
- *uses:*
        - code reusability.
        - easy to code debugging.
- syntax:
        def function_name(arguments_list): # function definition
            statements
            return output
- *how to call a function:*
             function_name(input_arguments) # function calling
             
- function name starts with keyword,inbulit functions.
- function name should not allow the space in the middile of function.
##### Two types of funcitons:
- 1. pre-define funcitons.
- 2. user-define functions.
- 4 types of user define functions:
        - 1. function with arguments and with return values.
        - 2. function with arguments and with out return values.
        - 3. funciton with out arguments and with return values.
        - 4. function with out arguments and with out return values.

### 1. with arguments and with return values..
- syntax:
         def function_name(arguments_lists):
             statements
             return result

In [9]:
# 1.To print the first digit of a given number?
# input: n=45367
# output: 4
def first_digit(n): # step3 -> first_digit(234)
    while(n>=10): # step4: 234>=10 true, 23>=10 true,2>=10 , false
        n = n//10 # step5 : 234//10 -> 23 , 23//10 -> 2
    return n  # step6: return 2
n1 = int(input("Enter n1 value: ")) # step1 n1=234
first_digit(n1) # step2  first_digit(234)

Enter n1 value: 45367

4

#### 2. with arguments and with out return values..
- syntax:
        def function_name(arguments_list):
            statements
            print(output)

In [11]:
# To find the biggest of three numbers?
def biggest_three(a,b,c):
    if(a>b and a>c):
        print('Biggest value is a:',a)
    elif(b>c):
        print('Biggest value is b:',b)
    else:
        print('biggest value is c:',c)
a= int(input())
b= int(input())
c= int(input())
biggest_three(a,b,c)

10
2
4
Biggest value is a: 10

#### with out arguments and with return values:
- syntax:
         def function_name():
             statements
             return output

In [15]:
# To print the swapping of two numbers..
def swap():
    a = int(input("Enter a value: "))
    b = int(input("Enter b value: "))
    a,b = b,a
    return a,b
swap()

Enter a value: 200
Enter b value: 30

(30, 200)

In [16]:
def prit(a,b):
    a=20
    b=30
a=2
b=3
prit(a,b)
print(a,b)

2 3

### with out arguments and with out return values..
- syntax:
        def funciton_name():
            statements
            print(result)

In [19]:
# TO print the factorial of a given number?
def factorial():
    n = int(input("Enter n value: "))# n= 5
    f1 = 1 # f1 = 1
    for i in range(1,n+1): # i=1,i=2->t,i=3-> t,i=4->t,i=5->t ,6-> f
        f1 = f1*i # f1 = 1*1=>1,1*2=>2,2*3=>6,6*4=>24 ,24*5=> 120
    print(f1)
factorial()

Enter n value: 5
120

#### Arguments:
           - Three types of arguments:
           - 1. Variable length arguments
           - 2. keyword length arguments
           - 3. default and non-default arguments
- 1. Variable length arguments:
        - By using '*' symbol we can develop the variable length arguments.
        - It return the data in the format tuple.

In [24]:
def hello(*a):
    print(a)
hello(10,20,30,40,'apssdc')

(10, 20, 30, 40, 'apssdc')

In [26]:
list = [10,20]
print(list)

[10, 20]

In [28]:
# keyword length arguments:
# we can '**' symbols we can write the keyword arguments.
def sample(**k):
    print(k)
sample(name='krishna',rollno=510)

{'name': 'krishna', 'rollno': 510}

In [44]:
# default and non-default arguments.
def example(a=10):
    return a
example()

10

In [41]:
def sample(**k):
    print(k)
sample(name='krish',roll=50)

{'name': 'krish', 'roll': 50}

In [45]:
s1 = {'python',['java','c'],12,45.67}
print(s1)

TypeError: unhashable type: 'list'